@import "../components/items.scss";
@import "../utils/position";
@import "../components/item_customization";
@import "../components/buttons";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.breadcrumb_container {
    margin-bottom: 39px;
}


.items {
    margin-bottom: 48px;
}

.pagination {

    @include centerByTranslateX;

    * {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: #C4C4C4;
    }

    .active {
        color: #EF5B70;
    }

    &_range {
        margin: 0px -18px 0px -18px;
    }

    display: inline-flex;
    gap: 18px;
    margin-bottom: 96px;
    padding: 12px 16px 13px 16px;

    border: 1px solid #EBEBEB;

    .next, .prev {
        color: #000000;
    }

}



.filter {

    @media (max-width: 768px) {
        justify-content: space-between;
    }

    .filter>&__button {
        margin-right: 28%;
        @media (max-width: 768px) {
            margin-right: 0%;
        }

    }

    @include button_filter;

    display: flex;
    margin-bottom: 64px;

}