@import "../components/item_customization";
@import "../components/buttons";
@import "../components/items";
@import "../utils/position";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.big_logo__container {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    height: 48.56vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 64.5px;

    .big_logo__btn_prev {
        @include big_logo__btn_prev;
    }

    .big_logo__btn_next {
        @include big_logo__btn_next;
    }

    .big_logo__content,
    img {
        height: inherit;
        text-align: center;
    }
}

.product_current {
    text-align: center;
    margin-bottom: 192.5px;

    .group_name {
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        align-items: center;
        color: #F16D7F;
    }

    .group_name::after {
        content: "";
        width: 63px;
        background: #EF5B70;
        display: block;
        aspect-ratio: 6300 / 303;
        margin-top: 12.1px;
    }

    .product_description {
        margin-bottom: 64.5px;
        @media (max-width: 481px) {
            margin-bottom: 49px;
        }
    }

    .product_description .title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    .product_description .descrp_full {
        width: 555px;
        @media (max-width: 768px) {
            width: 77.4%;
        }
        @media (max-width: 481px) {
            width: 86%;
        }

        display: inline-block;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
    }

    .price {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;

        margin-bottom: 64px;
        @media (max-width: 481px) {
            margin-bottom: 32px;
        }
    }


    .product_description::after {
        content: "";
        width: 100%;
        background: #EAEAEA;
        display: block;
        aspect-ratio: 64200 / 101;
        margin: 0 auto;
    }

    .item_customization {
        margin-bottom: 46.4px;
    }

    .btn_add_to_cart {
        @include btn_add_to_cart;
        cursor: pointer;
    }



}

.items {
    width: var(--content_width);
    @include centerByMargin;
    margin-bottom: 128px;
}

@media (max-width: 768px) {
    :root {
        --content_width: 95.57vw;
    }
}