@import "../utils/position";

.breadcrumb ol {
    &>* {
        display: inline-block;
    }
    & > :last-child * {
        color: red;
    }
  
}

.breadcrumb_container {
    height: 9.25vh;
    background: #F8F3F4;
}

.breadcrumb_content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 481px) {
        flex-direction: column;
        ol {
            padding: 0px;
        }
    }

    width: var(--content_width);
    @include centerByMargin;
    height: 100%;
    align-items: center;
}


.breadcrumb_current {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumb * {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}
