@mixin btn_add_to_cart {
    content: 'Add to Cart';
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F26376;
    background-color: #fbfbfb;
    background-image: url("../../img/shop_cart.svg");
    background-repeat: no-repeat;
    background-size: 26px 24px;
    // background-size: cover;
    aspect-ratio: 21200/4841;
    width: 212px;
    background-position: 11.32% center;
}

@mixin big_logo__btn_prev {
    background-image: url("../../img/big_logo__btn_prev.svg");
    background-color: rgba(42, 42, 42, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 47px;
    height: 47px;
    cursor: pointer;
    &:hover{
        border: 1px solid #000000;
    }
}

@mixin big_logo__btn_next {
    background-image: url("../../img/big_logo__btn_next.svg");
    background-color: rgba(42, 42, 42, 0.15);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 47px;
    height: 47px;
    cursor: pointer;
    &:hover{
        border: 1px solid #000000;
    }
}

@mixin button_remove {
    background-image: url("../../img/btn_remove.svg");
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

@mixin button_gray_border {
    border: 1px solid #A4A4A4;
    width: 101.41px;
    height: 35px;
    background: white;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #575757;

    cursor: pointer;
}

@mixin button_proceed_red {
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    padding: 15px 43px 16px 41px;

    cursor: pointer;
}

@mixin button_filter {

    .filter {

        &__button {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            background: transparent;

            border: none;
            cursor: pointer;

            &::after {
                background-color: #000000;
                -webkit-mask-image: url("../../img/filter_button.svg");
                mask-image: url("../../img/filter_button.svg");
                mask-size: cover;

                aspect-ratio: 15 / 10;
                width: 15px;

                content: "";
                display: inline-block;

                margin-left: 11px;
            }
        }

        &__category {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            &_title {
                color: #EF5B70;

                border: solid;
                border-width: 0px 0px 1px 5px;
                border-color: transparent transparent #EBEBEB #EF5B70;

                padding: 6px 0px 12px 16px;

                &::after {
                    background: #EF5B70;
                    height: 100%;
                    width: 5px;


                    content: "";
                    display: inline-block;
                }
            }


            .filter__item {
                color: #6F6E6E;
                margin-left: 16px;
                margin-bottom: 11px;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            gap: 18px;

            position: absolute;
            z-index: 100;
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

            padding: 7px 1px 2px 17px;

            padding-bottom: 16px;

            width: 22.5vw;

            @media (max-width: 768px) {
                width: 46.88vw;
            }

            .filter__button {
                margin-bottom: 16px;
                color: #EF5B70;
                text-align: start;

                &::after {
                    background-color: #EF5B70;
                }
            }
        }

    }

}